services:
  - type: web
    name: cloud-dept-analytics-api
    env: node
    buildCommand: npm install --production
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
